body {
    font-family: Lucida Grande, sans-serif;
    font-size: 16px;
    color: #666666;
    background-color: #F1F1F1;
}
h3 {
    color: black;
}
a {
    text-decoration: none;
    color: #08C;
}

#content {
    width: 980px;
    box-sizing: border-box;
    margin: 0 auto;
    background: white;
    text-align: right;
    border: 1px solid #aaa;
}

#banner {
    background-image: url(./images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 677px;
    margin: 50px 30px 0 0;
}
#banner h1 {
    font-size: 4.5em;
    font-weight: 900;
    color: black;
}
#banner h1, #banner h2 {
    margin: 0 50px 0 0;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    border-top: 1px solid rgb(177, 177, 177);
}

#why-love {
    background: url(./images/gradient.png);
    background-size: cover;
}
#why-love div, #retina div {
    text-align: left;
}
#why-love div {
    padding-left: 30px;
}
#retina{
    columns: 1fr 1fr;
    background: url(./images/gradient.png);
    background-size: cover;
}
#retina div {
    padding-right: 30px;
}

#specs {
    background-color: white;
    border-collapse: collapse;
}
#specs, #specs th, #specs td {
    border: 1px solid #AAAAAA;
    padding: 20px;
    margin: 0 30px 30px 30px;
} 
#specs th, #specs tr td {
    text-align: left;
}
#specs thead td {
    text-align: center;
}